<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Image Classifier</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>🍴 Food Image Classifier</h1>
      <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="image" required />
        <button type="submit">Predict</button>
      </form>

      {% if image_path %}
      <div class="result">
        <img
          src="{{ url_for('static', filename='uploads/' + image_path.split('/')[-1]) }}"
          width="250"
        />
        <h2>Prediction: {{ prediction }}</h2>
      </div>
      {% elif prediction %}
      <h2>{{ prediction }}</h2>
      {% endif %}
    </div>
  </body>
</html>
